<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Dashboard page</h1>
        <div class="nav">
            <a href="/">Title</a>
            <a href="/players/new">Create a Player</a>
        </div>
        <div class="card">
            <table>
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr>
                        <td>{{ player.first_name }}</td>
                        <td>{{ player.last_name }}</td>
                        <td>{{ player.position }}</td>
                        <td>{{ player.team }}</td>
                        <td><a href="/players/{{ player.id }}">View Player</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- chatbot at bottom of page -->
        <div class="chatbot">
            <form class="user_request">
                <input type="text" value="Ask me something">
                <button type="submit">Ask</button>
            </form>
            <hr>
            <div>Body</div>
        </div>
    </div>
</body>
</html>