html {
    background-color: darkblue;
    color: aliceblue;
}

.container {
    margin: auto;
    width: 600px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

label {
    display: block;
    margin: 15px;
}

th {
    border: 2px solid white;
}

th, td {
    padding: 5px 20px 5px 5px;
}